:root {
  --bgshop: #000000;
  --colorshop: #000000;
  --colorshophover: #000000;
  --bgfooter: #ffffff;
  --colorfooter: #000000;
  --colorbgmenumb: #000000;
  --colortextmenumb: #ffffff;
  --height-head: 62px;

  --primary: #4711de;
  --ui-green: #28c840;
  --ui-red: #ff5f57;
  --ui-yellow: #febc2e;
  --ui-light: #f8f2fb;
  --gray-l: #cbcbcb;
  --gray-m: #878787;
  --gray-md: #585a51;
  --gray-d: #414339;
  --text: #333;
  --text-d: #333;
  --purple-l: #ece3ff;
  --purple-lm: #deceff;
  --purple-m: #7335d7;
  --purple-d: #6500bf;
  --orange: #fcaa5e;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap");
html,
body {
  border: 0;
  padding-top: 0 !important;
  margin: 0;
  background: #ffffff;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  line-height: 1.4;
  font-size: 14px;
  color: var(--colorshop);
  position: initial !important;
}

#app {
  font-family: "Roboto", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--colorshop);
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  padding: 0;
  list-style-type: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  border-bottom: none;
  margin-bottom: 15px;
}
strong {
  font-weight: 700;
}
/* --------------- pd - row - flex ----------------- */
.pd-15 {
  padding: 0 15px;
  position: relative;
}
.pd-right-0 {
  padding-right: 0;
}
.pd-top-10 {
  padding-top: 10px;
}
.pd-top-30 {
  padding-top: 30px;
}
.pd-top-50 {
  padding-top: 50px;
}
.pd-top-60 {
  padding-top: 60px;
}
.mg-top-50 {
  margin-top: 50px;
}
.mg-top-30 {
  margin-top: 30px;
}
.mg-bottom-15 {
  margin-bottom: 15px;
}
.row-left-list {
  margin-left: -15px;
}
.d-flex-wrap {
  flex-wrap: wrap;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  outline: none;
}
.mg-bottom-15 {
  margin-bottom: 15px;
}
.mg-bottom-10 {
  margin-bottom: 10px;
}
.d-flex-center {
  align-items: center;
}
.bg-while {
  background: #fff;
}

.pd-15 {
  padding: 15px;
}
.dt-width-100 {
  width: 100%;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}
.list-infomation td {
  border: none;
}
strong {
  font-weight: 700;
}
table tr td,
table tr th {
  padding: 10px;
  text-align: left;
}
.btn {
  padding: 10px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid;
}
.contact-form-warp .btn {
  border: 1px solid #000000;
  outline: none;
  background: #000000;
  outline: none;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/* -----------------address form----------------- */
button,
input,
optgroup,
select,
textarea {
  color: #000;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0px;
}

.input-group .input-group-addon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 0;
  color: #dad9d9;
  background-color: #ebebeb;
  border-color: #ebebeb;
  font-size: 18px;
}
.input-group {
  margin: 15px 0px;
}
/* --------------- formkit ----------------- */
.formkit-fieldset,
.formkit-wrapper {
  max-width: 100%;
}

.formkit-outer * {
  box-sizing: border-box;
}

.formkit-label {
  display: block;
}
.formkit-inner {
  position: relative;
  box-shadow: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
[data-type="file"] .formkit-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  color: transparent;
}
.formkit-input[multiple] {
  padding: 0;
}

.formkit-input {
  display: block;
  width: 100%;
}
[data-type="file"] .formkit-file-list {
  width: 100%;
}
[data-type="file"] .formkit-file-list,
[data-type="file"] .formkit-no-files {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}
[data-type="file"] .formkit-file-item,
[data-type="file"] .formkit-no-files {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
[data-type="file"] .formkit-inner .formkit-file-item-icon {
  width: 1em;
  margin-right: 0.5em;
}
.formkit-outer .formkit-icon {
  width: 2.5em;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-self: stretch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[data-type="file"][data-multiple] .formkit-file-remove {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 14px;
  color: #0275ff;
  /* bottom: 0px;
  left: 0px; */
  right: 10px;
  top: 4px;
  display: block;
  z-index: 5;
  cursor: pointer;
}
input[type="file"]::file-selector-button {
  display: none !important;
  width: 100%;
  height: 100%;
}
.formkit-help,
.formkit-option-help {
  color: rgba(0 0 0 / 60%);
}

/* --------------- formkit - input filed ----------------- */
.formkit-userbox {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 2em;
  display: block;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
  max-width: 30.375em;
  margin: 2em auto;
  text-align: left;
}
.formkit-outer {
  margin-bottom: 1em;
}
.formkit-outer label {
  font-weight: 700;
  font-size: 0.875em;
}
.formkit-label {
  display: block;
  margin-bottom: 0.25em;
}
.formkit-help {
  font-size: 0.75em;
  color: #333;
  font-weight: 300;
  margin-top: 0.5em;
}
.formkit-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.formkit-outer textarea,
.formkit-outer input {
  appearance: none;
  border: 1px solid var(--gray-l);
  padding: 0.75em;
  font-size: 0.875rem;
  width: 250px;
  max-width: 100%;
  border-radius: 0.5em;
  font-family: silka;
  font-weight: 300;
}
.formkit-message {
  font-size: 0.75em;
  padding-top: 0.25em;
  color: red;
  font-weight: 300;
  margin: 0;
}
input.formkit-input {
  width: 100%;
  box-sizing: border-box;
}
button.formkit-input.button {
  appearance: none;
  background-color: var(--colorshop);
  border: 2px solid var(--colorshop);
  color: #fff;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #5a29e480;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: none;
}

[data-type="textarea"] textarea {
  width: 100%;
  min-height: 10em;
  flex-grow: 1;
}

/* --------------- formkit -  ----------------- */

[data-type="checkbox"] fieldset.formkit-fieldset,
[data-type="radio"] fieldset.formkit-fieldset {
  border: 1px solid #94929c;
  border-radius: 0.5em;
}
.formkit-legend {
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  margin-left: 12px;
  margin-top: -21px;
  width: 6.5em;
  background: white;
  max-width: 13.5em;
}
.formkit-fieldset > .formkit-help {
  margin-top: 5px;
  margin-bottom: 14px;
}
.formkit-help,
.formkit-option-help {
  color: rgba(0 0 0 / 60%);
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 1.1;
}
.formkit-fieldset {
  padding: 12px;
}
[data-type="checkbox"] .formkit-options,
[data-type="radio"] .formkit-options {
  padding: 0;
}
[data-type="checkbox"] .formkit-option,
[data-type="radio"] .formkit-option {
  list-style-type: none;
  margin-bottom: 5px;
}
[data-type="checkbox"] .formkit-wrapper,
[data-type="radio"] .formkit-wrapper {
  display: flex;
  align-items: center;
}
[data-type="checkbox"] .formkit-inner,
[data-type="radio"] .formkit-inner {
  border: none;
  box-shadow: none;
  display: inline-block;
  margin-right: 0.5em;
}
/* :is([data-type="checkbox"] .formkit-input) ~ .formkit-decorator,
:is([data-type="radio"] .formkit-input) ~ .formkit-decorator {
  background: linear-gradient(0deg, rgb(0 0 0 / 7%), transparent);
  display: block;
  box-sizing: content-box;
  width: 1.25em;
  height: 1.25em;
  flex: 0 0 1.25em;
  border: none;
  box-shadow: 0 0 0 1px #94929c;
  position: relative;
} */
:is([data-type="checkbox"] .formkit-input) ~ .formkit-decorator::before,
:is([data-type="radio"] .formkit-input) ~ .formkit-decorator::before {
  background: 0 0;
  content: "";
  display: block;
  width: 55%;
  height: 20%;
  pointer-events: none;
  border-bottom: 0.2em solid transparent;
  border-left: 0.2em solid transparent;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  position: absolute;
  bottom: 32%;
  left: 40%;
}
input.formkit-input[type="checkbox"]:checked ~ .formkit-decorator::before {
  border-color: var(--colorshop);
}
:is([data-type="checkbox"] .formkit-input):checked ~ .formkit-decorator::before,
:is([data-type="radio"] .formkit-input):checked ~ .formkit-decorator::before {
  border-color: var(--colorshop);
}

/* --------------- formkit ----------------- */

/* --------------- modal ----------------- */
@keyframes show-modal {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 999999999;
  padding: 10px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  /* display: none; */
}
.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.modal-show {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 700px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
  overflow-x: visible;
  overflow-y: visible;
}
